.card-style{
    margin: 50px auto;
    height: 50%;
    width: 50%;
}
.card-style img{
    height: 50%;
    width: 50%;
}
.card-style h1,p,h3{
    padding: 10px;
}
.button-cl{
    border-radius: 5px;
    background-color: rgba(245, 66, 35, 0.986);
    color: white;
    padding: 5px 20px;
    font-size: 18px;
}